<style>
  .webform-quiz-correct-answer-description .result {
    font-size: 24px;
    font-weight: bold;
  }
  .webform-quiz-correct-answer-description .correct {
    color: green;
  }
  .webform-quiz-correct-answer-description .wrong {
    color: red;
  }
</style>
<div class="webform-quiz-correct-answer-description">
  {% if is_user_correct %}
    <div class="result correct">Correct</div>
    {{ sai_correct_answer_description|raw }}
  {% else %}
    <div class="result wrong">Wrong</div>
    {{ sai_incorrect_answer_description|raw }}
  {% endif %}
</div>
