<div>
  <div>Number of points received: {{ quiz_results.webform_quiz_number_of_points_received }}</div>
  <div>Total number of points: {{ quiz_results.webform_quiz_total_number_of_points }}</div>
  <div>Score: {{ quiz_results.webform_quiz_score }}%</div>
</div>
